project_id    = "digital-tarmo-500519"
region        = "europe-west1"
db_name       = "digitalthi_db"
db_user       = "digitalthi"
db_password   = "CHANGE_ME"
frontend_url  = "https://digital-tarmo.vercel.app"
backend_image = "europe-west1-docker.pkg.dev/digital-tarmo-500519/digitaltarmo-repo/backend:latest"
